body {
}
.tile {
    display: inline-block;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    vertical-align: center;    
    border: 5px outset lightblue;
    background: white;
    border-radius: 1em;
    margin: 1px;

    /* unselectable */
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    /* end unselectable */
}
.tile.active {
    border: 5px inset lightblue;
}
.board {
    border: 10px outset lightgreen;    
    padding: 5px;
    background: #ccffcc;
    display: inline-block;
    border-radius: 1em;
}
.tile .inner {
    display: block;
    height: 100%;
    width: 100%;    
}
.tile.allowed {
    background: #cccccc;
}
.tile.allowed.word {
    background: gray;
}
div.word-container {
    font-size: 200%;
    font-weight: bold;
    font-family: sans-serif;
}
.results-display table {
    border-collapse: collapse;    
}
.results-display table th {
    font-weight: bold;
    border: 1px solid black;
}
.results-display table td {
    border: 1px solid black;
}
.results-display table td li {
    display: inline-block;
    margin: 0em 0.1em;
    border: 1px solid black;
}
textarea {
    font-family: monospace;    
    height: 10em;
    width: 10em;
    display: block;
}
